name: build

on: [push]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run unit tests
      run: script/test
  linux-bootstrap-script-test:
    runs-on: ubuntu-latest
    steps:
    - name: Test bootstrap script
      run: |
        export BRANCH=$(sed 's/^refs\/heads\///' <<<"${{ github.ref }}")
        bash <(curl -sSL https://raw.githubusercontent.com/edrd-f/kotlin-bootstrap/$BRANCH/script/bootstrap) <<INPUT
        hello
        hello.world
        INPUT
        cd hello
        ./gradlew -p modules --console=auto check
  macos-bootstrap-script-test:
    runs-on: macos-latest
    steps:
    - name: Test bootstrap script
      run: |
        export BRANCH=$(sed 's/^refs\/heads\///' <<<"${{ github.ref }}")
        bash <(curl -sSL https://raw.githubusercontent.com/edrd-f/kotlin-bootstrap/$BRANCH/script/bootstrap) <<INPUT
        hello
        hello.world
        INPUT
        cd hello
        ./gradlew -p modules --console=auto check
